# Ignore Visual Studio folder
.vs/

# Ignore build results
bin/
obj/

# Ignore user-specific files
*.user
*.suo
*.userosscache
*.sln.docstates

# Ignore ASP.NET Core files
*.dbmdl
*.pdb
*.cache
*.log
*.dbproj.schemaview

# Ignore Node.js if later used
node_modules/
dist/
