.footer-copyright {
    font-size: 0.6rem;
    color: #6c757d;
    margin-top: 10px;
    text-align: center;
}

.footer-container {
    
    .nav-link {
        font-size: 0.8rem;
    }
    .me-auto {
        margin-left: 35%;
        display: flex;
        gap: 2rem;
    }
}
